<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title accession
body
	include ./header/header
	.wrapper
		h2 доступы
		.accesions
			.ftp
				h3 ftp
				.row 
					.col.host хост					
					.col.name имя
					.col.pass пароль
	include ./footer/footer
