<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title accession
body
	.limit
		include ./header/header
		.content
			a(href="project.html").button назад
			.part.d-g.gg-1
				h2 доступы
						.accesions
							.ftp
								h3 ftp
								.row 
									.col.host хост					
									.col.name имя
									.col.pass пароль
		include ./footer/footer
