@import './vars'
@import './header/header'
@import './footer/footer'
@import './auth/auth'
@import './perscab/control/control'
.button
	padding: 5px 20px
	background: #F6404F
	cursor: pointer
	text-decoration: none
	color: $black
	display: inline-block
.change
	background: $support
.block
	margin: 10px
	box-shadow: 9px 9px 24px -3px rgba(0,0,0,0.95)
	border: none !important
	width: min-content
	height: 100px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	padding: 10px
	border-radius: 5px
form
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: flex-start
h1
	font-style: normal
	font-weight: bold !important
	font-size: 55px
	line-height: 67px
	letter-spacing: 0.04em
	color: #000000
h2
	font-weight: bold
	font-size: 36px
	line-height: 44px
	letter-spacing: 0.04em
	text-transform: uppercase
	color: #212121
	margin: 0
h3
	font-style: normal
	font-weight: normal
	font-size: 30px
	line-height: 37px
	letter-spacing: 0.02em
	color: #000000
h4
	font-weight: bold !important
	font-style: normal
	font-size: 24px
	line-height: 29px
	letter-spacing: 0.05em
	text-transform: uppercase
	margin: 0px
body
	font-family: Montserrat !important
	font-size: 16px
	line-height: 20px
.df
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
.content
	background: $accent
	padding: 100px
footer
	width: 100%
header
	width: 100%
nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 100%
	a
		width: 100%
// @media screen and (min-width: 1680px)
// 	body > *
// 		padding: 0px 400px
// @media screen and (min-width: 1440px)
// 	body > *
// 		padding: 0px 200px
// @media screen and (min-width: 1280px)
// 	body > *
// 		padding: 0px 100px


