@import './vars'
@import './header/header'
@import './footer/footer'
@import './auth/auth'
a.button
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 20px
	letter-spacing: 0.03em
	color: #FFFFFF
	background: $beige
	padding: 17px 30px
	cursor: pointer
h1
	font-style: normal
	font-weight: bold !important
	font-size: 55px
	line-height: 67px
	letter-spacing: 0.04em
	color: #000000
h2
	font-weight: bold
	font-size: 36px
	line-height: 44px
	letter-spacing: 0.04em
	text-transform: uppercase
	color: #212121
h3
	font-style: normal
	font-weight: normal
	font-size: 30px
	line-height: 37px
	letter-spacing: 0.02em
	color: #000000
h4
	font-weight: bold !important
	font-style: normal
	font-size: 24px
	line-height: 29px
	letter-spacing: 0.05em
	text-transform: uppercase
	margin: 0px
body
	font-family: Montserrat !important
	font-size: 16px
	line-height: 20px
// @media screen and (min-width: 1680px)
// 	body > *
// 		padding: 0px 400px
// @media screen and (min-width: 1440px)
// 	body > *
// 		padding: 0px 200px
// @media screen and (min-width: 1280px)
// 	body > *
// 		padding: 0px 100px


