<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title project
body
	include ./header/header
	.wrapper
		.proj_content
			h3 project 1
			a(href="create_task.html").button.create_task.block создать задачу
			a(href="accessions.html").button.project_accession.block доступы
			a(href="last_tasks.html").button.project_accession.block последние задачи
	include ./footer/footer
