<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
body
	include ./components/header/header
	include ./components/auth/auth
	include ./components/footer/footer