<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
body
	
	.limit
		include ./components/header/header
		.content
			.part
				include ./components/auth/auth
		include ./components/footer/footer
		