<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	include ./components/perscab/header/header
	include ./components/perscab/control/control
	include ./components/perscab/footer/footer
	